<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="WinForm.Properties.Settings.Connection" connectionString="server=localhost;database=prueba153;user=root;password=12345678;"
   providerName="MySql.Data.MySqlClient" />
  <add name="GestorSubastas.Properties.Settings.Connection" connectionString="server=localhost;database=prueba153;user=root;password=12345678;" />
 </connectionStrings>
</configuration>