body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, .footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 10px;
   
}

    header a {
        text-decoration: none;
        color: white !important;
        font-size: 1rem;
        font-weight: normal;
        margin-right: 20px;
    }

    header img.icono-mew {
        height: auto; /* Ajusta el tamaño del logo */
        margin-right: 35px; /* Añade espacio entre el logo y el contenido */
        width: 120px;
        opacity: 0.8;
    }

.navbar {
    padding: 0px;
    background-color: #282828;
    
}

    .navbar .navbar-brand {
        color: #EDEDED; /* Cambia el color de la marca */
        font-size: 24px;
    }

.navbar-nav .nav-item .nav-link {
    color: #EDEDED;
    margin-right: 20px; /* Espacio entre los enlaces del navbar */
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

    .navbar-buttons .nav-inicio,
    .navbar-buttons .nav-registro {
        background-color: #796e64;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar-buttons .nav-registro {
        background-color: #D4A517;
    }

main {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 0; /* Elimina todos los márgenes de main */
    flex: 1;
}

.sidebar {
    flex: .350;
    background-color: #90827a;
    padding: 20px;
    gap: 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    height: 100vh;
    margin-bottom:-16px;
    
}

.sidebar-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #796e64;
}

.sidebar-button {
    font-size: 20px;
    display: block;
    color: #fff
 !important;
    text-decoration: none;
    padding: 15px 0;
    transition: background-color 0.5s, box-shadow 0.5s;
    border-radius: 10px;
}

    .sidebar-button:hover {
        background-color: #6e6158;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    }

.content {
    flex: 3;
    background-color: #EDEDED;
    padding: 20px; /* Asegura que haya padding dentro del contenido */
    margin: 20px; /* Aplica margen en todos los lados (top, right, bottom, left) */
    min-height: 100%;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

    footer a {
        color: #f4a71d;
        margin-left: 20px;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .content {
        margin-left: 0;
        margin-top: 20px;
    }

    .sidebar, .content {
        flex: 1;
    }
}
