body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, .footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 10px;
   
}

    header a {
        text-decoration: none;
        color: white !important;
        font-size: 1rem;
        font-weight: normal;
        margin-right: 20px;
    }

    header img.icono-mew {
        height: auto; /* Ajusta el tamaño del logo */
        margin-right: 35px; /* Añade espacio entre el logo y el contenido */
        width: 120px;
        opacity: 0.8;
    }

.navbar-nav .nav-item .nav-link {
    color: #EDEDED;
    font-size: 1.25rem; /* Cambia el tamaño de la fuente globalmente */
    margin-right: 20px; /* Espacio entre los enlaces */
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

    .navbar-buttons .nav-inicio,
    .navbar-buttons .nav-registro {
        background-color: #796e64;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar-buttons .nav-registro {
        background-color: #D4A517;
    }

/* Alineación de los elementos "Subasta", "Mis Ofertas", etc. */
.navbar-collapse {
    display: flex;
    justify-content: flex-start; /* Asegura que el contenido no esté desalineado */
}

.navbar-nav {
    margin-left: 0; /* Elimina márgenes innecesarios */
}

.navbar .navbar-brand {
    color: #EDEDED;
    font-size: 30px;
}

.navbar-collapse .navbar-nav {
    display: flex;
    justify-content: flex-start; /* Alineación a la izquierda */
}

    .navbar-collapse .navbar-nav .nav-item {
        margin-right: 20px; /* Ajusta el espacio entre los elementos de la navegación */
    }

main {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0; /* Elimina todos los márgenes de main */
    flex: 1;
}

.sidebar {
    flex: .350;
    background-color: #90827a;
    padding: 20px;
    gap: 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    height: 100vh;
    margin-bottom:-16px;
    
}

.sidebar-title {
    font-size: 30px;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #796e64;
    font-family: 'Times New Roman'
}

.sidebar-button {
    font-size: 25px;
    display: block;
    color: #fff !important;
    text-decoration: none;
    padding: 15px 0;
    transition: background-color 0.5s, box-shadow 0.5s;
    border-radius: 10px;
    font-family: 'Times New Roman', sans-serif;
}

    .sidebar-button:hover {
        background-color: #6e6158;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    }

.content {
    flex: 3;
    background-color: #EDEDED;
    padding: 20px; /* Asegura que haya padding dentro del contenido */
    margin: 20px; /* Aplica margen en todos los lados (top, right, bottom, left) */
    min-height: 100%;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

    footer a {
        color: #f4a71d;
        margin-left: 20px;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .content {
        margin-left: 0;
        margin-top: 20px;
    }

    .sidebar, .content {
        flex: 1;
    }
}

.card {
    border: none;
    border-radius: 15px; 
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:hover {
        transform: translateY(-10px); /* Desplazamiento */
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15); /* Sombra */
    }

/* Títulos de las tarjetas */
.card-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
}

/* Detalles del texto de las subastas */
.card-text {
    font-size: 1.2rem;
    color: #666;
}

/* Botón "Ver" */
.card a.btn {
    background-color: #D4A517; 
    border-color: #D4A517; /* bordes */
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 25px; /* Bordes más redondeados */
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    /* Efecto hover en el botón */
    .card a.btn:hover {
        background-color: #B88B14; /* Color dorado */
        transform: translateY(-3px); /* Efecto de elevación*/
    }
h2 {
    font-size: 2rem;
    color: #333;
}

.subasta-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subasta-titulo {
    font-size: 2rem;
    font-weight: bold;
    color: #6e6158;
}

.subasta-info p {
    font-size: 1rem;
    color: #666;
}

/* Estilo para las fechas */
.subasta-info .text-primary {
    font-size: 1.1rem;
    font-weight: bold;
}

.subasta-info .text-danger {
    font-size: 1.1rem;
    font-weight: bold;
}