@{
    ViewData["Title"] = "Subastas Finalizadas";
}

<div class="container mt-5">
    <div class="row">
        <!--Card de inmuebles -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/img/inmuebles.png" class="card-img-top" alt="Inmuebles">
                <div class="card-body">
                    <h5 class="card-title">Inmuebles</h5>
                    <p class="card-text">Subastas de inmuebles</p>
                    <a href="#" class="btn btn-primary">Ver subastas</a>
                </div>
            </div>
        </div>

        <!-- Card de tecnologia -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/img/tecnologia.png" class="card-img-top" alt="Tecnología">
                <div class="card-body">
                    <h5 class="card-title">Tecnología</h5>
                    <p class="card-text">Subastas de tecnología</p>
                    <a href="#" class="btn btn-primary">Ver subastas</a>
                </div>
            </div>
        </div>
        <!--Card de vehiculos-->
        <div class="col-md-4">
            <div class="card">
                <img src="~/img/tecnologia.png" class="card-img-top" alt="Tecnología">
                <div class="card-body">
                    <h5 class="card-title">Vehiculos</h5>
                    <p class="card-text">Subastas de Vehiculos</p>
                    <a href="#" class="btn btn-primary">Ver subastas</a>
                </div>
            </div>
        </div>

    </div>
</div>