@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <div class="row">
        <!--Primera subasta -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/img/mother.jpg" class="card-img-top" alt="Mother">
                <div class="card-body">
                    <h5 class="card-title">Mother Asus</h5>
                    <p class="card-text">Descripcion: precio base: </p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <!-- segunda subasta -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/img/teclado.jpg" class="card-img-top" alt="Teclado">
                <div class="card-body">
                    <h5 class="card-title">Teclado Reddragon</h5>
                    <p class="card-text">SDescripcion: precio base:a</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <!--Tercera subasta-->
        <div class="col-md-4">
            <div class="card">
                <img src="~/img/mouse.jpg" class="card-img-top" alt="Mouse">
                <div class="card-body">
                    <h5 class="card-title">Mouse Logitech</h5>
                    <p class="card-text">Descripcion: precio base:</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

    </div>
</div>

       
