@{
    ViewData["Title"] = "Crear Producto";
}
<!--SE DEBEN SACAR LAS BARRAS DE ADELANTE DE TODOS LOS ASP FOR PARA LOS MODELS-->
<div class="form-container">
    <div class="form-section">
        <h3>Datos del Producto</h3>
        <img src="~/images/placeholder.png" alt="Imagen del Producto" style="width:100%; border-radius:8px;">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input type="file" /asp-for="ProductImage" class="form-control" />
            <p style="text-align:center;">Subir fotos del producto o propiedad</p>
            <div class="form-group">
                <label /asp-for="PublicationName"></label>
                <input /asp-for="PublicationName" class="form-control" />
            </div>
            <div class="form-group">
                <label /asp-for="AuctionType"></label>
                <select /asp-for="AuctionType" class="form-control">
                    <option value="">Seleccione una opción</option>
                    <option value="Tipo1">Subasta Tipo 1</option>
                    <option value="Tipo2">Subasta Tipo 2</option>
                </select>
            </div>
            <div class="form-group">
                <label /asp-for="BasePrice"></label>
                <input /asp-for="BasePrice" class="form-control" />
            </div>
            <div class="form-group">
                <label /asp-for="Description"></label>
                <textarea /asp-for="Description" class="form-control" rows="4"></textarea>
            </div>
            <button type="submit" class="submit-btn">Solicitar</button>
        </form>
    </div>
</div>